{% if article is defined %}
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
    <meta property="og:title" content="{{ article.title | replace("\"", "&quot;") }}" />
    <meta property="og:description" content="{{ article.summary|striptags }}" />
    <meta property="og:image" 
        {%- if article.noog is defined %}
	  content="{{ SITEURL }}/images/{{ 'article_image_placeholder' }}.jpg" />
        {% else %} 
	  content="{{ SITEURL }}/images/{{ article.slug }}/og.jpg" />
        {% endif %}
        
{% elif page is defined %}
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ SITEURL }}/{{ page.url }}" />
    <meta property="og:title" content="{{ SITENAME }} - {{ page.title | replace("\"", "&quot;") }}" />
    <meta property="og:description" content="{{ page.content | striptags | replace("\"", "&quot;") | truncate(196, False, '...') }}" />
    <meta property="og:image" content="{{ SITEURL }}/images/opengraph-default.jpg" />
    
{% else %}
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ SITEURL }}/{{ output_file }}" />
    <meta property="og:title" content="{{ SITENAME }}" />
    <meta property="og:description" content="Automate Everything with nunogrl.">
    <meta property="og:image" content="{{ SITEURL }}/images/opengraph-default.jpg" />
{% endif %}

