{% extends "base.html" %}

{% block title %}Archives - {{ SITENAME }}{% endblock %}

{% block meta_description %}
    <!-- opengraph -->
    {% include 'includes/opengraph.html' %}
    <!-- end opengraph -->
{% endblock %}

{% block content %}
    <section>
        <header class="major">
            <h2>Archives for {{ SITENAME }}</h1>
        </header>
        <div class="post-list">
            {% for article in dates %}
            <p>
                <span><time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></span>
                <a href="/{{ article.url }}">{{ article.title }}</a>
            </p>
            {% endfor %}
        </div>
    </section>
{% endblock %}
