{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Home{% endblock %}

{% block meta_description %}
    <meta name="description" content="A blog featuring posts about DevOps,
    Security, and some personal bits.">
{% endblock %}

{% block content %}

<!-- Header -->
    <header id="header">
        <ul class="icons">
            {% for s in SOCIAL %}
            
            {% if s[2] %}
            {% set name_sanitized = s[2]|lower|replace('+','-plus')|replace(' ','-') %}
            {% else %}
            {% set name_sanitized = s[0]|lower|replace('+','-plus')|replace(' ','-') %}
            {% endif %}
            
            {% set iconclass = '"fa-' ~ name_sanitized ~ '"' %}
            
            <li><a href="{{ s[1] }}" class="icon fa-{{ name_sanitized }}"><span class="label">{{ s[0] }}</span></a></li>
            
            {% endfor %}
        </ul>
    </header>

<!-- Banner -->
    <section id="banner">
        <div class="content">
            <header>
                <h1>Columbus Egg</h1>
		<p>A blog that covers stuff I work with, and stuff I replicate
		it so it won't be lost.</p>
            </header>
            {% for q in QUOTES %}
            <p class="quote"><i class="fas fa-quote-right"></i> {{ q.quote }} <i class="fas fa-quote-left"></i></p>
            <p class="quote-source">{{ q.source }}</p>
            {% endfor %}
        </div>
        <span class="image object">
            <img src="/images/global/cover.jpg" alt="Cover" />
        </span>
    </section>


{% if CATEGORIES %}

<!-- Section -->
    <section>
        <header class="major">
            <h2>Sections</h2>
        </header>
        <div class="features">
	    {% for cat in CATEGORIES %}
            <article>
		<span class="{{ cat.icon }}"></span>
                <div class="content">
		    <h3>{{ cat.title }}</h3>
		    <p>{{ cat.description }}</p>
		    <a href="{{ cat.href }}" class="button">More</a>
                </div>
            </article>
            {% endfor %}
        </div>
    </section>

{% endif %}

<!-- Section -->
{% if TOPSERIES %}
    <section>
	    <header class="major">
            <h2>Top Series</h2>
        </header>
        <div class="posts">
           {% for a in TOPSERIES %}<article class="card">
	       <a href="{{ a.href }}" class="image">
		   <img src={{ a.image }} alt={{ a.alt }} />
                </a>
                <div class="card-body">
		    <a href="{{ a.href }}"><h3 class="card-title">{{ a.title }}</h3></a>
                    <p class="card-text">
		    {{ a.description }}</p>
                    <ul class="actions">  
			<li><a href={{ a.href }} class="button">Start</a></li>
                    </ul>
                </div>
            </article>{% endfor %}
        </div>
    </section>
{% endif %}

{% if MYVIDEOS %}
<!-- Section -->
    <section>
        <header class="major">
            <h2>My videos</h2>
        </header>
        <div class="posts">
           {% for a in MYVIDEOS %}<article class="card">
                <a href="{{ a.href }}" class="image">
                   <img src={{ a.image }} alt={{ a.alt }} />
                </a>
                <div class="card-body">
		    <a href="{{ a.href }}"><h3 class="card-title">{{ a.title }}</h3></a>
                    <p class="card-text">
		    {{ a.description }}</p>
                    <ul class="actions">  
			<li><a href={{ a.href }} class="button">Start</a></li>
                    </ul>
                </div>
            </article>{% endfor %}
        </div>
    </section>
{% endif %}
<!-- Section -->
    <section>
        <header class="major">
            <h2>All posts</h2>
        </header>

        {% include 'includes/paginated_posts.html' %}

    </section>
{% endblock %}
