{% set _other_num = 3 %}
<div class="mini-posts">
    {% for article in articles[:_other_num] %}
    <article>
        <a href="/{{ article.url }}" class="image">
            {% if article.noimage %}
            <img src="/images/{{ 'article_image_placeholder' }}.jpg"
            alt="{{ article.title }}" />
            {% else %}
            <img src="/images/{{ article.slug }}/thumbnail.jpg"
                 alt="{{ article.title }}" />     
            {% endif %}
        </a>
        <p><strong>{{ article.title }}</strong> <a href="/{{ article.url }}">Read</a></p> 
    </article>
    {% endfor %}
</div>